html
{ 
    min-width: 1300px;
    background-color: cornsilk;
    padding: 10px;
    margin: 10px;
}

.topMenu
{
    height: 45px;
    background-color: darkred;
}

.topMenuText
{
    color: aliceblue;
    text-decoration: none;
    font-family: serif;
    font-size: 14px;
}

.topMenuItem
{
    background-color: crimson;
    text-align: center;
    padding: 8px;
    margin: 5px;
    color: aliceblue;
    font-family: monospace;
    display: inline-block;
    border: 1px solid white;
    
    width: 17%;
    border-radius: 5px;
}

.subTitle
{
    background: crimson; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, crimson, cornsilk, cornsilk, cornsilk); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, crimson, cornsilk, cornsilk, cornsilk); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, crimson, cornsilk, cornsilk, cornsilk); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, crimson, cornsilk, cornsilk, cornsilk); /* Standard syntax */
      
    padding-left: 5px;
    font-size: 26px;
    font-family: serif;
    color: aliceblue;
}

#perfilImage 
{
    position: relative;
    float: left;
    max-width: 128px;
    max-height: 128px;
    border: 2px solid black;
}

#personalInfos 
{
    margin-left: 10px;
	display: inline-block;  
}

#personalAbstract 
{
    padding:10px 0px 0px 10px;
}



.gameList
{
    background-color: beige;
    border: 2px solid crimson;
    padding: 5px;
}

.gameTitle
{
    padding-left: 5px;
    font-size: 20px;
    font-family: monospace;
}

.gameItem
{
    margin: 2px;
    display: inline-table;
    min-width: 400px;
    width: 31%;
    
    border: 1px solid red;
}

.imgContainer
{
    text-align: center;
}

.gameImg
{
    border: 2px solid black;
    max-width: 460px;
    max-width: 320px;
}

.gameDesc
{
    padding-left: 5px;
    font-size: 14px;
    font-family: monospace;
    
}

.textDataContainer
{
    background-color:beige;
    border: 2px solid crimson;
    padding: 5px;
}
