html
{ 
}

h1
{
	color: red;
}

td
{
    border: 2px dashed blue;
}

.topMenu
{
    width: 1366px;
}

.topMenuItem
{
    background-color: crimson;
    text-align: center;
    padding: 10px;
    color: aliceblue;
    font-family: monospace;
    border: 3px solid grey;
    display: inline-block;
    
    width: 17%;
    border-radius: 10px;
}

.gameImg
{
    border: 2px solid black;
    max-width: 460px;
    max-width: 320px;
    margin: 10px;
}
